@use 'variables';

.banner{
    padding: 32px;
    background-color: variables.$color;

    @media (max-width: 768px) {
        padding: 16px;
    }
    

    &__text{
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-size: 4em;
        color: variables.$textColor;

        @media (max-width: 768px) {
            font-size: 1.5em;
        }
    }
}