@use 'variables';

.content{

    &__title{
        padding: 40px;

       .h2{
        font-family: "Dancing Script",cursive;
        color: variables.$color;
        text-align: center;
        font-size: 32px;
       } 
    }

    &__main{
        display: flex;
        gap: 16px;
        border-bottom: 1px solid variables.$lineColor;

        @media (max-width: 768px) {
            display: block;
            padding-bottom: 30px;
        } 

        .image{
            margin-bottom: 20px;

            @media (max-width: 1080px) {
                margin-bottom: 90px
            }

            @media (max-width: 768px) {
                width: 100%;
                height: 50vh;
                padding: 20px;
            }  
        }

        .paragraph{
            margin-bottom: 32px;

            @media (max-width: 768px) {
                padding: 12px;
            } 
        }

        .btn{
            @media (max-width: 768px) {
                margin-left: 12px;
            } 
        }
    }
}