@use 'variables';

.header{
    display: flex;
    justify-content: space-between;
    &__logo{
        padding: 16px;
        padding-left: 80px;

        @media (max-width: 768px) {
            padding: 8px;
        }
    }

    &__infos{
        padding-top: 34px;

        @media (max-width: 1080px) {
                    padding-top: 18px;
            }

        @media (max-width: 768px) {
            padding: 18px 18px 0 0;
        }

        

        a{
            display: flex;

            &:hover{
                border-bottom: 2px solid variables.$color;
                padding-bottom: 8px;

                @media (max-width: 768px) {
                    border-bottom: none;
                }
            }
        }

        .wpp{
           font-size: 30px;
           color: variables.$color;

           @media (max-width: 1080px) {
                padding: 16px;
                font-size: 30px;
                border-radius: 30px;
                background-color: variables.$color;
                color: variables.$textColor;
           }

           @media (max-width: 768px) {
                padding: 12px;
                font-size: 24px;
                border-radius: 30px;
                background-color: variables.$color;
                color: variables.$textColor;
            }
        }

        p{
            margin-top: 8px;
            margin-left: 8px;
            color: variables.$color;
            font-weight: 700;

            @media (max-width: 768px) {
                display: none;
            }

            @media (max-width: 1080px) {
                display: none;
            }
            
        }

    }

    &__menu{

        @media (max-width: 768px) {
            display: none;
        }

        &__list{
            display: flex;
            padding-top: 40px;
            padding-right: 80px;
            gap: 32px; 
        }
    }
}


.logo-image{
    height: 2em;
    width: 5em;
    
}

.link{
    color: variables.$color;
    font-weight: 600;
    font-size: 20px;

    &:hover {
        border-bottom: 2px solid variables.$color;
    }
}