.hero{
    position: relative;  

    @media (max-width: 1080px){
        img{
            width: 100%;
        }
    }

    &__btn{
        position: absolute; 
        top: 50%;
        left: 15%;

        @media (max-width: 1080px) {
                    top: 7vh;
                }

        @media (max-width: 768px) {
            top: 15vh;
            left: 65px
        }

        
     }
}