@use 'variables';
@use 'header';
@use 'hero';
@use 'content';
@use 'service';
@use 'grid-pictures';
@use 'cta';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}


.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    background-color: variables.$secondColor;
    color: variables.$textColor;
    border: none;

    &:hover {
        background-color: variables.$color;
    }
}

.banner{
    padding: 32px;
    background-color: variables.$color;

    @media (max-width: 768px) {
        padding: 16px;
    }
    

    &__text{
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-size: 4em;
        color: variables.$textColor;

        @media (max-width: 768px) {
            font-size: 1.5em;
        }
    }
}

